/*
 * Copyright (C) 2015 Intronik GmbH
 *
 * Hardware specification for Intronik CANcom module.
 * V0.5 - 2015-08-23
 */
/dts-v1/;

#include "am33xx.dtsi"
#include "am335x-bone-common-no-capemgr.dtsi"
#include "am335x-intronik-pinmux.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Intronik AM335x CANcom v0.50";
	compatible = "ti,am335x-bone-black", "ti,am335x-bone", "ti,am33xx";
};

&ldo3_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};

&sham {
	status = "okay";
};

&aes {
	status = "okay";
};

&mmc1 {	// sd-card
	vmmc-supply = <&vmmcsd_fixed>;
};

&mmc2 {	// emmc
	status = "okay";
	vmmc-supply = <&vmmcsd_fixed>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_pins>;
	bus-width = <8>;
};

&uart0 { // X5.3 (J1.4), X5.1 (J1.5)
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;
	status = "okay";
};

&uart2 { // X4.3 (P9.21), X4.1 (P9.22)
	status = "okay";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&P9_22_uart_pin &P9_21_uart_pin>;
	pinctrl-1 = <&P9_22_default_pin &P9_21_default_pin>;
}; 

&uart4 { // X1.15 (P9.11), X1.16 (P9.13)
	status = "okay";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&P9_11_uart_pin &P9_13_uart_pin>;
	pinctrl-1 = <&P9_11_default_pin &P9_13_default_pin>;
};

&dcan0 { // X2
	 status = "okay";
	 pinctrl-names = "default", "sleep";
	 pinctrl-0 = <&P9_19_can_pin &P9_20_can_pin>;
	 pinctrl-1 = <&P9_19_default_pin &P9_20_default_pin>;
};

&dcan1 { // X3
	 status = "okay";
	 pinctrl-names = "default", "sleep";
	 pinctrl-0 = <&P9_24_can_pin &P9_26_can_pin>;
	 pinctrl-1 = <&P9_24_default_pin &P9_26_default_pin>;
};

&epwmss0 {
	status = "okay";
};

&epwmss1 {
	status = "okay";
};

&ehrpwm0 { // pwm module used beeper (EHRPWM0B)
	status = "okay";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&P9_29_pwm_pin>;
	pinctrl-1 = <&P9_29_gpio_pd_pin>;
};
/*
&ehrpwm1 { // pwm module used backlight (EHRPWM1A)
	status = "okay";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&P9_14_pwm_pin>;
	pinctrl-1 = <&P9_14_gpio_pd_pin>;
};
*/
&pruss {
	status = "disabled";
};

&lcdc {
	status = "okay";
};

&rtc {  // we use an external i2c rtc, so this should be disabled
	status = "disable";
};

&i2c1 {
	//status = "disabled";
	status = "okay";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&P9_17_i2c_pin &P9_18_i2c_pin>;
	pinctrl-1 = <&P9_17_default_pin &P9_18_default_pin>;
	clock-frequency = <400000>;
		
	gpioextender: gpioextender@20 {
		reg = <0x20>;
		compatible = "nxp,pca9535";
		pinctrl-names = "default";
		pinctrl-0 = <&P8_17_gpio_pu_pin>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-parent = <&gpio0>;
		interrupts = <27 IRQ_TYPE_EDGE_FALLING>;
		interrupt-controller;
		#interrupt-cells = <2>;
	};

        rtc-mcp7940N@6F {
		reg = <0x6f>;
		compatible = "mcp7941x";
		pinctrl-names = "default";
		pinctrl-0 = <&P8_19_gpio_pu_pin>;
		interrupt-parent = <&gpio0>;
		interrupts = <22 IRQ_TYPE_EDGE_FALLING>;
	};

	sl-gsl1680@40 {
		reg = <0x40>;
		compatible = "silead,gsl1680";
		pinctrl-names = "default";
		pinctrl-0 = <&P8_14_gpio_pd_pin &P8_16_gpio_pu_pin>;
		interrupt-parent = <&gpio0>;
		interrupts = <26 IRQ_TYPE_EDGE_RISING>;
		wake-gpio = <&gpio1 14 0>;
	};
};

&i2c2 { // required to enable CAN0
	status = "disable";
};

/ {
	cpus {
		cpu@0 {
			cpu0-supply = <&dcdc2_reg>;
			/*
			 * To consider voltage drop between PMIC and SoC,
			 * tolerance value is reduced to 2% from 4% and
			 * voltage value is increased as a precaution.
			 */
			operating-points = <
				/* kHz    uV */
				1000000	1325000
				800000	1300000
				600000	1112000
				300000	969000
			>;
		};
	};

	panel:display0 {
		status = "okay";
		compatible = "ti,tilcdc,panel";
		pinctrl-names = "default", "sleep";
		/*backlight = <&backlight>;*/
		pinctrl-0 = <&bbcape_lcd_pins &P8_07_gpio_pu_pin>;
		pinctrl-1 = <&bbcape_lcd_pins &P8_07_gpio_pd_pin>;
		panel-info {
			ac-bias           = <255>;
			ac-bias-intrpt    = <0>;
			dma-burst-sz      = <16>;
			bpp               = <16>;
			fdd               = <0x80>;
			sync-edge         = <1>;
			sync-ctrl         = <1>;
			raster-order      = <0>;
			fifo-th           = <8>;
		};
		display-timings {
			native-mode = <&NHD50timing>;
			/* Settings for NEWHAVEN NHD5.0-800480TF-ATXI#-CTP */
			NHD50timing: 800x480 {
				clock-frequency = <30000000>;
				hactive = <800>;
				vactive = <480>;
				hfront-porch = <40>;
				hback-porch = <40>;
				hsync-len = <48>;
				vback-porch = <30>;
				vfront-porch = <13>;
				vsync-len = <3>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <0>;
			};
		};
	};

	beeper: beeper {
		status = "okay";
		compatible = "pwm-beeper";
		pwms = <&ehrpwm0 1 250000 0>; // EHRPWM0B 4kHz
	};
/*
	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&ehrpwm1 0 20000 0>; // EHRPWM1A 20000ns=50KHz
		brightness-levels = <0 55 80 105 130 155 180 205 230 255>;
		default-brightness-level = <9>;
		enable-gpios = <&gpio2 2 0>;
		//power-supply = <&vmmcsd_fixed>;
	};
*/
	backlight: backlight {
		status = "okay";
		compatible = "gpio-backlight";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&P9_14_gpio_pu_pin>;
		pinctrl-1 = <&P9_14_gpio_pd_pin>;
		gpios = <&gpio1 18 GPIO_ACTIVE_HIGH>;
		default-on;
	};

	CanComIo {
		compatible = "gpio-of-helper";
		status = "okay";

		CanComOut01 {
			gpio-name = "Out01";
			gpio = <&gpioextender 0 0>;
			output;
			init-low;
		};
		CanComOut02 {
			gpio-name = "Out02";
			gpio = <&gpioextender 1 0>;
			output;
			init-low;
		};
		CanComOut03 {
			gpio-name = "Out03";
			gpio = <&gpioextender 2 0>;
			output;
			init-low;
		};
		CanComOut04 {
			gpio-name = "Out04";
			gpio = <&gpioextender 3 0>;
			output;
			init-low;
		};

		CanComInp01 {
			gpio-name = "Inp01";
			gpio = <&gpioextender 4 0>;
			input;
		};
		CanComInp02{
			gpio-name = "Inp02";
			gpio = <&gpioextender 5 0>;
			input;
                };
		CanComInp03 { 
			gpio-name = "Inp03";
			gpio = <&gpioextender 6 0>;
			input;
                };
		CanComInp04 {
			gpio-name = "Inp04";
			gpio = <&gpioextender 7 0>;
			input;
                };
		CanComInp05 {
			gpio-name = "Inp05";
			gpio = <&gpioextender 8 0>;
			input;
                };
		CanComInp06 {
			gpio-name = "Inp06";
			gpio = <&gpioextender 9 0>;
			input;
                };
		CanComInp07 {
			gpio-name = "Inp07";
			gpio = <&gpioextender 10 0>;
			input;
                };
		CanComInp08 {
			gpio-name = "Inp08";
			gpio = <&gpioextender 11 0>;
			input;
                };
		CanComInp09 {
			gpio-name = "Inp09";
			gpio = <&gpioextender 12 0>;
			input;
                };
		CanComInp10 {
			gpio-name = "Inp10";
			gpio = <&gpioextender 13 0>;
			input;
		};
/*
		P9_14_Out {
			gpio-name = "BLSW";
			gpio = <&gpio1 18 0>;
			output;
			init-high;
		};
*/

	};
};
